<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>知识库 | Pointer</title>
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/wiki.css">
  <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
  <div class="header-container">
    <header class="inner">
      <nav>
        <a href="/cn/">关于</a>
        <a href="/blog/">博文</a>
        <a href="/wiki/" class="selected">知识库</a>
        <a href="/search.html">搜索</a>
        <a href="https://github.com/pointerhacker">代码</a>
      </nav>
      <div class="pull-right right logo">
        <a href="https://pointerhacker.github.io/"><img class="avatar" src="https://pointerhacker.github.io/imgs/pointer.JPG" alt="My profile picture" /></a>
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}

  <footer>
    <div style="border-bottom: 1px solid #eee"></div>
    <p>
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International</a> 2013-2026.
    </p>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</body>
</html>
